#photo {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    width: 30%;
    height: 30%;
    border: 4px solid silver;
}

#aboutAuthor {
    float: left;
    width: 55%;
    height: 310px;
    border: 3px solid silver;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 4px;
    padding: 2%;
    font-size: 1.2em;
    font-family: Consolas, sans-serif;
    background-color: black;
}

.ProgFont {
  color: green

}
