/* Левая часть центральной страницы */
#leftside {
   float: left;
   margin-top: 2%;
   margin-left: 1%;
   line-height: 50px;
   padding-right: 10px;
   border-right: 3px solid silver;
    
}

 #LSp {
     
    padding-bottom: 20px;
    font-size: 2em;
    font-weight: bolder;
    font-family: Tahoma;
}

#LSitems {
    list-style-position: inside;
    list-style-image: url(../img/Lufi.ico);
    font-size: 1.5em;
    font-family: Tahoma, sans-serif;
}

.link:hover {
    background-color: silver;
    border-radius: 3px;
}

/* Правая часть центральной страницы */

#rightside {
    float: right;
    margin-top: 2%;
    margin-right: 1%;
    line-height: 50px;
    padding-left: 10px;
    border-left: 3px solid silver;
     
 }


 /* Центр */

#main-central-block {
    width: 100%;
    height: 200px;
    padding: 2% 0;
    border-bottom: 2px solid silver ;
    border-top: 2px solid silver;
    margin: 20px 0;
    float: left;
    background: url(../img/fon2.jpg) repeat-x center;
}





