@charset "utf-8";

/* Общие стили */
* {
    margin: 0;
    padding: 0;
    outline: none;
    color: rgba(255, 255, 255, 0.767) ;
    text-decoration: none; 
 }

 html {height: 100%;}

 body {
    background-color: rgb(44, 42, 42);
     width: 100%;
     height: 100%;

}

 /* Шапка */

 header, footer {

    background-color: rgb(58, 58, 58);
    float: left ;
}

header {
    width: 98%;
     border-bottom: 3px solid silver;
     padding: 1%;
     padding-bottom: 1%;
}

.logotip {
    margin-top: 5px;
    font-family: Tahoma, sans-serif;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.767);
    border: 3px solid silver;
    width: 225px;
    padding: 10px;
    float: left;
}

.logotip:hover {
    width: 300px;
    height: 50px;
    font-size: 2em;
}



#items {
    margin-left: 50px;
    float: left;
    margin-top: 20px;
    font-size: 1.5em;
    font-family: Tahoma, sans-serif;
}

#items-right {
    margin-left: 50px;
    float: right;
    margin-top: 20px;
    font-size: 1.5em;
    font-family: Tahoma, sans-serif;
}

#items:hover, #items-right:hover {
    color: yellow;
}

/* Страница */

#page-wrap {
    min-height: 90%;
    margin-bottom: 10px;
}

/* Центр страницы */

#main-img {
    float: left;
    border: 3px solid silver;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#main-central-block {
    width: 100%;
    height: 200px;
    padding: 2% 0;
    border-bottom: 2px solid silver ;
    border-top: 2px solid silver;
    margin: 20px 0;
    float: left;
    background: url(../img/fon2.jpg) repeat-x center;
}

/* Footer */
footer {
    width: 80%;
    border-top: 3px solid silver;
    border-left: 3px solid silver;
    border-right: 3px solid silver;
    margin-top: 10px;
    padding-top: 0.7%;
    padding-bottom: 0.3%;
    line-height: 30px;
    margin-left: 8%;
    margin-right: 8%;
 } 

 #relation {
     font-size: 1.2em;
 }

 footer img { margin-right: 10px; padding-bottom: 10px;}

 .left {float: left; padding: 5px; }
 .right {float: right; padding: 5px;}

 .niz {color: rgb(241, 223, 53); }




 

 